.loginsection{
  width:100%;
  align-self: center;
  justify-self: stretch;
}
.loginsection button{
  box-sizing: border-box;
  border:1px solid #000;
  background-color: #fff;
  border-radius: 21px;
  padding:1em 2em;
  box-shadow: 1px 1px 3px #000;
  font-weight: bold;
  margin:0.5em;
}
