.field {
  margin-bottom:1em;
}

label, input {
  display: block;
  box-sizing: border-box;
  width:100%;
  text-align: left;
  outline:none;
}

label{
  font-weight: bold;
  margin-bottom: 0.5em;
}

input{
  padding:1em 0.5em;
  border:none;
  border-bottom: solid 1px #000;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 1px 3px 3px -4px #222;
  background-color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:focus{
  border-color: #c83f00;
  box-shadow: 1px 3px 5px -4px #c83f00;
}
