.header{
  box-sizing: border-box;
  box-shadow: 0px 0px 3px #000;
  box-shadow: 0px 0px 3px #000;
  margin: -1em -1em 1em -1em;
  background-color: #303F9F;
  color:#fff;
}
.header h1{
  box-sizing: border-box;
  padding:0.5em 1em;
  margin:0px;
  text-align:center;
}
